<form [formGroup]="addForm" novalidate class="form">

    <div class="form-group">
      <label>Full Name:</label>
      <input formControlName="FullName" placeholder="Employee Name" name="FullName" class="form-control">
      <div class="alert  alert-danger" *ngIf="addForm.get('FullName').hasError('required') && addForm.get('FullName').touched">
        Full Name is required
      </div>
    </div>
  
    <div class="form-group">
        <label>BirthDate:</label>
        <input formControlName="BirthDate" placeholder="BirthDate" name="BirthDate" class="form-control">
    </div>
  
    <div class="form-group">
        <label>Email:</label>
        <input formControlName="Email" placeholder="Email" name="Email" class="form-control">
        <div class="alert  alert-danger" *ngIf="addForm.get('Email').hasError('required') && addForm.get('Email').touched">
          Email is required
        </div>
        <div class="alert  alert-danger" *ngIf="addForm.get('Email').hasError('pattern') && addForm.get('Email').touched">
            Email is invalid
        </div>
    </div>

      <div class="form-group">
        <label>Password:</label>
        <input type="password" formControlName="Password" placeholder="Password" name="Password" class="form-control">
        <div class="alert  alert-danger" *ngIf="addForm.get('Password').hasError('required') && addForm.get('Password').touched">
            Password is required
          </div>
        
      </div>

      <div class="form-group">
        <label>Photo URL:</label>
        <input type="text" formControlName="PhotoUrl" placeholder="Photo URL" name="PhotoUrl" class="form-control">
        
      </div>

      <div class="form-group">
        <label>Age:</label>
        <input type="number" formControlName="Age" placeholder="Age" name="Age" class="form-control">
      </div>
      
      
      <div class="form-group">
        <label>Department Name:</label>

        <select class="form-control" data-val="true" formControlName="DepartmentName">
            <option value="">--Select Department--</option>
            <option *ngFor="let dept of departmentsList" value={{dept.Id}}>
                {{dept.Name}}
            </option>
        </select>
    
      </div>

      <div class="form-group">
        <label>Job Title:</label>

        <select class="form-control" data-val="true" formControlName="JobTitle">
            <option value="">--Select Job--</option>
            <option *ngFor="let job of jobsList" value={{job.Id}}>
                {{job.Title}}
            </option>
        </select>
    
      </div>
    
      
    <button class="btn btn-success" [disabled]='addForm.invalid' (click)="onSubmit()">Save</button>
  
  
</form>